html {
    font-size: 62.4%;
}

h1 {
    color: #fff;
}

// variable
$text-color: red;
// $background: 
p {
    color: $text-color;
}

//mixin 
//@mixin name mixin(){}
//@include name mixin
@mixin bgc($namevar) {
    background-color: $namevar;
}

@mixin maxWidth($value) {
    @media screen and (max-width: $value) {
        @content;
    }
}

.header {
    position: relative;
    padding: 2rem;
    @include bgc(yellow); //goi var ra de dung
    &_menu {
        width: 100%;
        height: 50px;
        background-color: white;
        &:hover {
            background-color: aqua;
        }
        &-item {
            color: $text-color;
        }
    }
    @include maxWidth(1024px) {
        display: none;
    }
}