@font-face {
    font-family: nunito;
    src: url(./font/Dongle-Light.ttf);
}

@font-face {
    font-family: nu2;
    src: url(./font/Dongle-Regular.ttf);
}

body {
    font-family: nunito;
    font-size: 16px;
    background: #F2F2F2;
}


/*phần trên đầu*/

.top {
    height: 100px;
    background-color: #0c2738;
}

header {
    width: 1500px;
    margin: auto;
    top: 0;
    left: 0;
    padding: 10px 0;
}

.topright hr {
    color: #f1b722;
}

.hr-page {
    display: block;
    position: relative;
}

.hr-page:before {
    content: "";
    width: 65px;
    height: 3px;
    background-color: #f1b722;
    position: absolute;
    margin-top: 86px;
}

.topleft {
    width: 100px;
    height: 80px;
    float: left;
}

.topleft img {
    padding-left: 200px;
    padding-top: 30px;
}

.topright {
    width: 900px;
    height: 90px;
    float: right;
    padding-right: 80px;
    margin: 0 auto;
}

.topright ul li #page {
    color: white;
}

.topright ul li {
    color: #899ead;
    float: right;
    padding-right: 50px;
    line-height: 100px;
    font-family: nunito;
    font-size: 30px;
    list-style: none;
    display: block;
    cursor: pointer;
}

.topright ul li:hover {
    color: white;
}

.topright ul li a:hover {
    text-decoration: none;
}

hr {
    margin: auto;
    width: 1300px;
}


/*phần tìm kiếm của các trang chi tiết movie*/

.searchmain {
    height: 50px;
    width: 100%;
    margin-top: 133px;
}

.searchmain2 {
    height: 50px;
    width: 100%;
    margin-top: 133px;
}

.timkiem {
    background: #EDEDED;
    height: 50px;
    width: 530px;
    margin-top: 35px;
    margin-left: 240px;
    position: relative;
    border-radius: 25px;
    margin: 0 auto;
}

.inputtimkiem {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 5px 30px;
    color: black;
    font-size: 16px;
    line-height: 40px;
    width: 400px;
    font-weight: normal;
    position: absolute;
}

.nut {
    float: right;
    width: 60px;
    height: 36px;
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
    padding-top: 3px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.nut .search {
    FONT-SIZE: 20PX;
    background-image: url(https://global-uploads.webflow.com/5fe2d564b3fa64a886a11cee/5fe2d564b3fa640004a11d12_magnifying-glass.svg);
    margin-top: 0px;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 25px;
    background-position: 50% 48%;
    border: none;
    width: 60px;
    height: 40px;
    text-align: center;
    outline: none;
    cursor: pointer;
    padding-left: 5px;
    margin-left: 10px;
    filter: brightness(85%);
}

.tool {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 150px;
    height: 35px;
    line-height: 35px;
    display: block;
}

.tool .tooltext {
    visibility: hidden;
    position: absolute;
    width: 90px;
    background-color: #a4b0be;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool:hover .tooltext {
    visibility: visible;
    opacity: 1;
}

.tool-bottom {
    top: 150%;
    left: -15px;
}

.img {
    width: 1100px;
    height: 200px;
    margin: -178px auto;
}

.container {
    margin-top: -35px;
}


/*phần tìm kiếm của các trang phim menu*/

.timkiem1 {
    background: #EDEDED;
    height: 40px;
    width: 930px;
    padding-bottom: 10px;
    top: 20px;
    margin-top: 35px;
    margin-left: 240px;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.inputtimkiem1 {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 2px 30px;
    color: black;
    font-size: 16px;
    line-height: 35px;
    width: 690px;
    font-weight: normal;
    position: absolute;
}

.nut1 {
    float: right;
    width: 60px;
    height: 36px;
    background: #3898EC;
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
    padding-top: 3px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.nut1 .search1 {
    FONT-SIZE: 20PX;
    margin-top: -15px;
    color: white;
    background: none;
    border: none;
    width: 60px;
    height: 100%;
    text-align: center;
    outline: none;
    cursor: pointer;
    padding-left: 5px;
    margin-left: 10px;
}

.nu1t .search1:focus {
    color: #fff;
    background-color: #3898EC;
    border-color: #3196ee;
    box-shadow: 0 0 0 0.2rem rgba(57, 145, 245, 0.5);
    border-radius: 3px;
}

.tool1 {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 150px;
    height: 35px;
    line-height: 35px;
    display: block;
}

.tool1 .tooltext1 {
    visibility: hidden;
    position: absolute;
    width: 90px;
    background-color: #a4b0be;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool1:hover .tooltext1 {
    visibility: visible;
    opacity: 1;
}

.tool-bottom1 {
    top: 150%;
    left: -15px;
}

.img1 {
    width: 1100px;
    height: 200px;
    margin: -178px auto;
}

.topmini1 {
    color: white;
    font-family: nunito;
    height: 90px;
    background-color: #081b27;
    position: relative;
    padding-left: 80px;
    font-size: 30px;
}


/*phần chính*/

.main {
    height: auto;
    background-color: #081b27;
}

.colorbg {
    width: 1200px;
    background-size: 1235px;
    height: 670px;
    background-repeat: no-repeat;
    margin: auto;
}

.over {
    background-color: #000000a1;
    background-image: linear-gradient(180deg, rgb(18 26 32 / 36%) 14%, #081b27);
    z-index: 1;
    width: 1200px;
    height: 670px;
    position: relative;
    top: -718px;
    left: 0;
    margin: auto;
}

.mainn {
    z-index: 2;
    height: 670px;
    width: 1200px;
    position: relative;
}

.mainn2 {
    height: 70px;
    width: 1000px;
    margin: auto;
    display: table;
}

.mainleft {
    width: 500px;
    float: left;
    height: inherit;
}

.img-movie {
    margin-top: 80px;
    margin-left: 50px;
}

.img-movie img {
    border-radius: 10px;
}

.mainleft #title1 {
    color: #f1b722;
    text-transform: uppercase;
    font-family: nunito;
    padding-left: 50px;
}

.mainright {
    width: 700px;
    float: right;
    height: 700px;
    overflow: hidden;
}

.container {
    width: 500px;
    height: 500px;
}

.container .icon1 {
    color: #EFCE4A;
    margin-left: 20px;
    font-size: 19px;
}

.container .icon2 {
    color: #848D93;
    margin-left: -5px;
    font-size: 19px;
}

.container #date {
    color: #fff;
    padding-left: 20px;
}

.container #date:hover {
    text-decoration: none;
}

.container #title {
    color: #ffffff;
    padding-top: 70px;
    padding-right: 100px;
    font-size: 120px;
    line-height: 65px;
    font-family: nu2, sans-serif;
    font-weight: 520;
}

.information {
    margin-top: 20px;
    height: 300px;
    color: #fff;
    overflow: hidden;
}

.information li {
    list-style: none;
    font-size: 30px;
    font-family: nunito;
}

.information-le {
    margin-top: 20px;
    height: 300px;
    color: #fff;
    overflow-y: scroll;
}

.information-le li {
    list-style: none;
    font-size: 30px;
    font-family: nunito;
}

.content1 .title-content {
    color: #EFCE4A;
    font-weight: 420;
    font-size: 70px;
    line-height: 50px;
    font-family: nunito;
}

.content1 p {
    color: #9cabb6;
    font-size: 30px;
    line-height: 30px;
    font-family: nunito;
}

.move-film {
    height: auto;
}

.move-film #title-move {
    color: #EFCE4A;
    font-weight: 420;
    font-size: 70px;
    font-family: nunito;
}

.watch .button-watch {
    line-height: 45px;
    margin-left: 20px;
    border: 1px solid #e46466;
    background: #e46466;
    cursor: pointer;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

.button-watch2 {
    line-height: 45px;
    margin-left: 50px;
    border: 1px solid #3898ec;
    background: #3898ec;
    cursor: pointer;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

.button-watch2:focus {
    outline: none;
}

.button-watch:focus {
    outline: none;
}

.watch a .button-watch,
a .button-watch2 {
    color: #fff;
}

.watch a .button-watch:hover,
a .button-watch2:hover {
    color: #fff;
    text-decoration: none;
}


/*phần tab*/

.tab-list {
    float: right;
    height: 50px;
    margin-top: -50px;
}

.tab-list li {
    color: #848D93;
    list-style: none;
    height: 50px;
    width: 140px;
    background-color: #0c2738;
    float: right;
    line-height: 50px;
    margin-left: 30px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.tab-list li.active {
    background-color: #ffffff;
    color: #081b27;
}


/*phần phim*/

.box {
    margin-top: 25px;
}

.row {
    width: 1040px;
    height: auto;
    margin-left: -50px;
}

.rowmini {
    width: 240px;
    height: 350px;
    margin-top: 80px;
    padding-left: 60px;
}

.row2 {
    width: 180px;
    height: 350px;
    margin-top: 80px;
    margin-left: 60px;
    float: left;
}

.beta-btn {
    color: #ffffff;
}

.beta-btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.item-title {
    color: rgb(255, 254, 254);
    cursor: pointer;
    font-family: nunito;
    font-size: 30px;
    line-height: 30px;
}

.item-header img {
    border-radius: 5px;
}

.item-header img:hover {
    filter: brightness(80%);
    transition: 0.10s;
}

.item-header .icon1 {
    color: #EFCE4A;
    font-size: 13px;
}

.item-header .icon2 {
    color: #848D93;
    margin-left: -3px;
    font-size: 13px;
}

.btn-next {
    height: 50px;
    width: 100px;
    margin: auto;
    background-color: #fff;
    margin-top: 50px;
}

.next {
    width: 100px;
    height: 50px;
}


/*phần thanh cuộn*/

 ::-webkit-scrollbar {
    width: 10px;
    background-color: #899ead;
}

::-webkit-scrollbar-thumb {
    background-color: #636e72;
    border-radius: 40px;
}


/*phần footer*/

.footer {
    text-align: center;
    color: white;
    clear: left;
}

.footer a {
    color: #636e72;
    z-index: 2;
    position: relative;
}

.header {
    height: 100px;
    width: 1100px;
    margin: 180px auto;
    font-family: nunito;
}

.overlight {
    background-color: #000000a1;
    background-image: linear-gradient(180deg, rgb(18 26 32 / 36%) 14%, #081b2700);
    height: 190px;
    z-index: 1;
    width: 100%;
    position: relative;
    left: 0;
    margin: auto;
    display: table;
    top: 190px;
}

@media(min-width:200px) {
    .content {
        width: 60%;
        margin: auto;
    }
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(82, 74, 74);
    border-radius: 50%;
    z-index: 2;
    color: rgb(70, 62, 62);
}

#toTop:hover,
#toTop:focus {
    background-color: rgb(70, 62, 62);
    color: #ffffff;
    border: 2px solid #fff;
    outline: none;
}