.content0{
    height: auto;
    margin: auto;
    width: 1118px;
}
.row2{
    margin-left: 50px;
    padding-top: 20px;
}
 .item-body2{
    display: inline-table;
}
.item-title{
    color: #f1b722;
}