    /* ------------------------------------
BASE
-------------------------------------*/
    
    * {
        box-sizing: border-box
    }
    
    *:focus {
        outline: none
    }
    
    html {
        font-size: 62.5%
    }
    
    html {
        width: 100%;
        height: 100%;
    }
    
    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        color: #000;
        font-size: 1.4rem;
        font-weight: 300;
        font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif;
        letter-spacing: .1em;
        font-feature-settings: "palt";
        line-height: 1.6;
    }
    
    a {
        color: #006bb4;
        text-decoration: none;
    }
    
    #warper {
        display: flex;
        flex-direction: row;
    }
    
    #main-content {
        padding-bottom: 10rem;
    }
    
    .modal-body {
        padding: 2rem;
    }
    /* ------------------------------------
HEADER
-------------------------------------*/
    
    #header {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    
    #header .navigation {
        position: fixed;
        height: 75px;
        top: 0;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid #f7f7f7;
        border-top: 4px solid #3273B9;
        box-shadow: 0 3px 6px #00000029;
    }
    
    #header #logo_img {
        width: 150px;
        padding-bottom: 15px;
    }
    
    #user_info_dropdown {
        display: block;
        float: right;
        padding: 2rem;
    }
    
    #user_info_dropdown a {
        color: #000000;
    }
    
    #user_info_dropdown #role_name {
        text-align: center;
        font-size: 12px;
    }
    /* ------------------------------------
LEFT SIDE BAR
-------------------------------------*/
    /* ------------------------------------
PAGE CONTENT
-------------------------------------*/
    
    #page {
        width: 100%;
    }
    
    #breadcrumbs {
        display: flex;
        align-items: center;
        background-color: #fff;
        height: 5rem;
        position: sticky;
        top: 74px;
        border-bottom: 1px solid #F4F4F4;
        z-index: 88;
    }
    
    #breadcrumbs nav {
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }
    
    #breadcrumbs .breadcrumb {
        margin: 0;
    }
    
    #page-content {
        padding: 6rem;
        padding-top: 1rem;
    }
    /* ------------------------------------
BUTTON
-------------------------------------*/
    
    .base-button {
        width: 15rem;
        height: 4rem;
        border: none;
        border-radius: 5px;
    }
    
    .base-button.disabled {
        opacity: 0.65;
    }
    
    .cancel-button {
        font-weight: 700;
        letter-spacing: 2px;
        background-color: #e9e9e9;
    }
    
    .cancel-button:hover {
        background-color: #d8d8d8;
    }
    
    .submit-button {
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        background-color: #3273B9;
    }
    
    .submit-button:hover {
        background-color: #0662c4;
    }
    
    .action-button {
        font-weight: 700;
        letter-spacing: 2px;
        background-color: #DF6B01;
        color: #ffffff;
    }
    
    .action-button:hover {
        background-color: #e97910;
    }
    /* ------------------------------------
MODAL (Popup)
-------------------------------------*/
    
    .modal-footer {
        justify-content: center;
    }
    
    .popup-cancel-btn {
        width: 150px;
        background-color: #F0F0F0;
        color: #000;
    }
    
    .popup-cancel-btn:hover {
        background-color: #e0e0e0;
    }
    
    .popup-submit-btn {
        width: 150px;
        background-color: #BB353F;
        color: #fff;
    }
    
    .popup-submit-btn:hover {
        color: white;
        background-color: #a53038;
    }
    
    .modal-header h4 {
        margin-top: 10px;
    }
    
    .modal-header h4 {
        font-weight: bold;
    }
    
    .modal-header,
    .modal-footer {
        border: none;
    }
    
    .modal-footer {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* ------------------------------------
FORM
-------------------------------------*/
    /* SEARCH FORM */
    
    .search-form label {
        font-weight: 600;
        font-size: 1.6rem;
    }
    
    .search-form .row {
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        min-height: 65px;
    }
    
    .search-form input,
    select {
        margin: 0.5rem;
        display: block;
        padding: 1.2rem;
        width: 100%;
        min-height: 4.5rem;
        background-color: #fff;
        background-clip: padding-box;
        font-weight: 400;
        line-height: 1.5;
        border: 0.1rem solid #e5e5e5 !important;
        border-radius: 0.3rem;
        font-size: 1.4rem !important;
    }
    
    .search-form input[type="radio"] {
        margin: 0.5rem;
        display: initial;
        padding: 1.2rem;
        width: auto;
        min-height: 1rem;
        background-color: #fff;
        background-clip: padding-box;
        font-weight: 400;
        line-height: 1.5;
        border: 0.1rem solid #e5e5e5 !important;
        border-radius: 0.3rem;
        font-size: 1.4rem !important;
        min-width: auto;
    }
    
    .search-form input[type="checkbox"] {
        margin: 0.6rem;
        display: initial;
        padding: 0.6rem;
        width: auto;
        min-height: 1rem;
        background-clip: padding-box;
        font-weight: 400;
        line-height: 1.5;
        border: 0.1rem solid #e5e5e5 !important;
        border-radius: 0.3rem;
        font-size: 1.4rem !important;
        min-width: auto;
        margin-right: 1rem;
    }
    
    .search-form .form-check-label {
        font-weight: 500 !important;
    }
    
    .search-form .form-check {
        padding-left: 0;
    }
    
    .search-form .datetime-picker .divison-icon {
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding-left: 1.7rem;
    }
    
    .search-form .action-button-group {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .search-form .action-button-group button {
        margin: 1rem;
    }
    
    .search-form .table-action-button-group {
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-bottom: 1rem;
    }
    
    .search-form .table-action-button-group button {
        margin-left: 1rem;
    }
    /* TABLE */
    
    table tr th {
        background: #3273B9 !important;
        color: #ffffff;
        vertical-align: middle;
        text-align: left;
    }
    
    table.table td,
    table.table th {
        padding: 2rem !important;
        border: none;
    }
    
    table,
    th,
    td {
        border: none !important;
        vertical-align: middle;
        text-align: left;
        background-color: #fbfbfb;
    }
    
    .table tr {
        border-bottom: 3px solid #ffffff;
        border-top: none;
    }
    
    table tr:hover {
        background-color: #eeeeee;
        cursor: pointer;
    }
    
    table tr .th200 {
        width: 200px;
    }
    
    table tr .th100 {
        width: 100px;
    }
    
    table tr .th150 {
        width: 150px;
    }
    
    table .row-click-able {
        cursor: pointer;
    }
    
    table tr .th200 {
        width: 200px;
    }
    
    table tr .th300 {
        width: 300px;
    }
    
    table tr .th100 {
        width: 100px;
    }
    
    table tr .th150 {
        width: 150px;
    }
    
    table .row-click-able {
        cursor: pointer;
    }
    /* FORM */
    
    .title-main-conten {
        margin-top: 4rem;
        width: 100%;
        border-bottom: 1px solid #158F2A;
        position: relative;
        padding-left: 2rem;
    }
    
    .title-main-conten .option {
        position: absolute;
        right: 0;
        top: -10px;
    }
    
    .title-main-conten p {
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .title-main-item {
        margin-top: 5rem;
        width: 100%;
    }
    
    .title-main-item p {
        border-left: 5px solid #158F2A;
        padding-left: 1rem;
        font-weight: 600;
        font-size: 1.6rem;
    }
    
    .nhan {
        float: right;
        width: 45px;
        font-size: 12px;
        text-align: center;
        color: white;
        line-height: 23px;
        background-color: #D52922;
    }
    
    .form-group,
    .form-group-color,
    .form-group-checkbox {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-left: 5%;
    }
    
    .form-group input,
    select,
    textarea {
        margin: 0.5rem;
        display: block;
        padding: 1.2rem;
        width: 100%;
        min-height: 4.5rem;
        background-color: #fff;
        background-clip: padding-box;
        font-weight: 400;
        line-height: 1.5;
        border: 0.1rem solid #e5e5e5 !important;
        border-radius: 0.3rem;
        font-size: 1.4rem !important;
        min-width: 300px;
    }
    
    .form-group-color input,
    select,
    textarea {
        display: block;
        min-height: 4.5rem;
        background-color: #fff;
        background-clip: padding-box;
        font-weight: 400;
        line-height: 1.5;
        border: 0.1rem solid #e5e5e5 !important;
        border-radius: 0.3rem;
        font-size: 1.4rem !important;
    }
    
    .form-group input[type="radio"],
    .form-group-color input[type="radio"] {
        margin: 0.5rem;
        display: initial;
        padding: 1.2rem;
        width: auto;
        min-height: 1rem;
        background-color: #fff;
        background-clip: padding-box;
        font-weight: 400;
        line-height: 1.5;
        border: 0.1rem solid #e5e5e5 !important;
        border-radius: 0.3rem;
        font-size: 1.4rem !important;
        min-width: auto;
    }
    
    .row-conten {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    
    .edit-padding {
        margin-left: 20px;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .edit-padding p {
        padding-left: 15px;
        color: #7a7a7a;
        margin: 0;
    }
    
    .edit-padding1 {
        display: table;
        margin-left: 20px;
    }
    
    .edit-padding-colorForm {
        padding-right: 20px;
    }
    
    .coll-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    
    .form-group .coll-md-3 {
        display: flex;
        align-items: center;
    }
    
    .form-group .coll-md-3 .form-label {
        flex-grow: 1;
    }
    
    .coll-md-8 {
        flex: 0 0 auto;
        width: 73.66666667%;
        align-items: center;
    }
    
    .coll-md-8-color {
        flex: 0 0 auto;
        width: 70.66666667%;
        align-items: center;
    }
    
    .pdl-1 {
        padding-left: 1rem;
    }
    
    .w14 {
        min-width: 140px;
        margin-right: 2%;
    }
    
    .coll-md-8 input[type=radio] {
        margin-left: 1.625rem;
        margin-top: 0.813rem;
    }
    
    .colll-md-8 {
        flex: 0 0 auto;
        width: 52.66666667%;
        margin-top: 3px;
    }
    
    .form-label {
        font-weight: 600;
        font-size: 1.6rem;
        margin: 0;
    }
    
    .edit-center {
        margin-top: -13px;
    }
    
    .or {
        width: 3.125rem;
        text-align: center;
        margin-left: 1rem;
        font-weight: 600;
    }
    
    .phantram {
        margin-top: 10px;
        margin-left: 0.5rem;
    }
    
    .form-both {
        width: 25.688rem;
        height: 3.2rem;
        background-color: none;
        float: left;
        margin-top: 20px;
        margin-left: 7px;
        border-radius: 3px;
        border: 1px solid #aaa;
    }
    
    .mark-text {
        padding-top: 12px;
        margin-left: 10px;
        color: red;
    }
    
    .fixed-text {
        padding-top: 8px;
        padding-left: 20px;
        font-weight: 700;
    }
    
    .confirm-text {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
    }
    
    .text-binding p {
        margin: 0;
    }
    
    .button-submit {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        width: 100%;
    }
    
    .button-submit button {
        width: 300px;
    }
    /* END FORM */
    /* ------------------------------------
SCREENS
-------------------------------------*/
    /* Menu Content */
    
    .menu-content {
        margin-bottom: 2rem;
        border-bottom: 1px solid #D9D9D9;
    }
    
    .menu-content ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    
    .menu-content ul li {
        margin-top: 2rem;
        margin-right: 5rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
    
    .menu-content ul li a {
        color: #C3C3C3;
    }
    
    .menu-content ul li a.color-menu {
        color: #3273B9;
        border-bottom: 3px solid #3273B9;
        font-weight: 600;
        padding-bottom: 1.1rem;
    }
    /* FUND */
    
    .fund-screen .title-recruitment {
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
    }
    
    .fund-screen .title-recruitment .recruitment-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
    }
    
    .fund-screen .title-recruitment .recruitment-left .infomation-user li {
        padding-left: 2rem;
        list-style: none;
        font-weight: 700;
        font-size: 1.875rem;
    }
    
    .fund-screen .title-recruitment .recruitment-left .data-user li {
        padding-left: 5rem;
        list-style: none;
        font-size: 1.875rem;
    }
    
    .fund-screen .title-recruitment .recruitment-left .data-user li .nhan-recruitment {
        background-color: #4094C5;
        width: 15.25rem;
        height: 3rem;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        line-height: 3rem;
    }
    
    .fund-screen .title-recruitment .text-recruitment p {
        margin: 0;
        margin-left: 5rem;
        font-weight: 600;
    }
    
    .fund-screen .title-recruitment .recruitment-right ul {
        list-style: none;
        margin: 0;
    }
    
    .fund-screen .title-recruitment .recruitment-right ul li span {
        font-weight: 600;
    }
    
    .fund-screen .form-group {
        padding-left: 5% !important;
    }
    /* USER */
    
    .user-detail-screen .title-recruitment {
        border: 1px solid #d5d5d5;
        display: flex;
        flex-direction: row;
    }
    
    .user-detail-screen .title-recruitment .information {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-around;
        width: 100%;
    }
    
    .user-detail-screen .title-recruitment .text-recruitment p {
        margin: 0;
        margin-left: 5rem;
        font-weight: 600;
    }
    
    .user-detail-screen .title-recruitment .recruitment-right ul {
        list-style: none;
        margin: 0;
    }
    
    .user-detail-screen .title-recruitment .recruitment-right ul li span {
        font-weight: 600;
    }
    
    .user-detail-screen .title-recruitment .nhan-recruitment {
        background-color: #F94C4A;
        width: 8rem;
        height: 3rem;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        line-height: 3rem;
    }
    
    .user-detail-screen .Fixed-line {
        width: 100%;
        height: 50px;
        display: flex;
        padding-left: 0.5rem;
        margin-bottom: 2%;
        align-items: center;
        position: relative;
    }
    
    .user-detail-screen .Fixed-line .required-label {
        position: absolute;
        width: 45px;
        font-size: 12px;
        text-align: center;
        color: white;
        line-height: 23px;
        background-color: #D52922;
        left: -6.5rem;
    }
    
    .user-detail-screen .Fixed-line .Fixed-line-left {
        font-weight: 600;
        width: 12%;
    }
    
    .user-detail-screen .attention1 {
        padding-left: 12%;
        color: red;
    }
    
    .user-detail-screen .attention {
        color: red;
    }
    
    .user-detail-screen .form-group {
        padding-left: 5% !important;
    }
    /* FD40 */
    
    .cancel-application-btn,
    .edit-lottery-result-btn {
        width: 150px;
        background-color: #FFB244;
        font-weight: 700;
        color: #ffffff;
    }
    
    .load-btn {
        width: 100%;
        background-color: #6FB849;
        font-weight: 700;
        color: #ffffff;
    }
    
    .used-btn {
        width: 100%;
        font-weight: 700;
        background-color: #CC0000;
        color: #ffffff;
    }
    /* NE20 */
    
    .NE20 .h70 {
        height: 45.813rem;
        width: calc(100% - 5px);
    }
    
    .NE20 .option {
        width: 100%;
        height: 55px;
        position: relative;
    }
    
    .NE20 .option-left {
        position: absolute;
        right: 0;
    }
    
    .NE20 .option-left:hover {
        background: #ad3038;
    }
    /* ------------------------------------
COMPONENT:: Image File Select
-------------------------------------*/
    
    .image-file-select {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .image-file-select .image-upload-placeholder {
        background-color: #E0E0E0;
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
        margin-left: 2rem;
        position: relative;
        border: 1px solid #f1f1f1;
    }
    
    .image-file-select .image-item {
        background-color: #E0E0E0;
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
        margin-left: 2rem;
        position: relative;
        border: 1px solid #f1f1f1;
    }
    
    .image-file-select .input-image-placeholder {
        background-image: url('/admin/image/plus-icon.svg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .image-file-select .image-item .image-preview {
        background-image: url('https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .image-file-select .image-item .remove-image-button {
        background-image: url('/admin/image/remove-icon.svg');
        width: 30px;
        height: 30px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        top: -15px;
        right: -10px;
        border: none;
        background-color: transparent;
    }
    
     ::placeholder {
        color: #AAAAAA !important;
        opacity: 1;
        /* Firefox */
    }
    /* ------------------------------------
COLOR FORM
-------------------------------------*/
    
    .color-form {
        width: 100%;
        height: auto;
        margin-top: 2%;
        background: #E5E5E5;
    }
    
    .tags {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .tags li {
        list-style: none;
        width: 15rem;
        height: 3rem;
        border-radius: 7px;
        background-color: #f1f1f1;
        margin-right: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 3rem;
    }
    
    .address-bar {
        background-color: #F3F3F3;
        border-radius: 5px;
        height: 8.25rem;
        display: flex;
    }
    /* Pagination */
    
    #pagination-wrapper {
        height: 50px;
    }
    
    #pagination-wrapper button {
        width: 55px;
        height: 37px;
        background-color: #a3a3a3;
        color: white;
        border: none;
        margin-right: 2px;
        font-size: 1rem;
    }
    
    #pagination-wrapper button:hover {
        background-color: #b9b8b8;
    }
    
    #pagination-wrapper button.active {
        background-color: #3273B9;
    }
    /* sửa chiều dài của form ngày tháng */
    
    @media (min-width: 992px) {
        .coll-lg-3 {
            flex: 0 0 auto;
            width: 28.5%;
        }
    }